table{
    background-color: rgb(119, 198, 224);
    margin: auto;
    font-size: 24px;
    margin-top: 32px;
    border-radius: 16px;
    width: 60%
}

th {
    padding: 16px;
    border-bottom: 2px solid;
}

td {
    text-align: center;
    padding: 32px
}

