table{
    background-color: rgb(100, 100, 230);
    margin: auto;
    font-size: 24px;
    margin-top: 32px;
    border-radius: 16px;
    width: 60%
}

th {
    padding: 16px;
    border-bottom: 2px solid;
}

td {
    text-align: center;
    padding: 32px;
}

.delete {
    margin-top: 42px;
    padding-right: 16px;
    padding: 0;
}

.deleteButton {
    background-color: rgb(234, 78, 78);
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 16px;
}

.leaderboardPfp {
    width: 60px;
    height: 60px;
    border: 2px solid black;
}

.pfpTd {
    width: 0px;
}

#yourScore {
    margin: auto;
    margin-top: 32px;
}

.gameSelect {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    background-color: rgb(100, 100, 230);
    width: 60%;
    margin: auto;
    padding: 8px;
    border-radius: 16px;
    margin-top: 24px;
    cursor: pointer;
}

.selectedGame {
    color: rgb(122, 224, 119)
}
