.background {
    width: 1000px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    border-radius: 32px;
    margin: auto;
    margin-top: 20px;
    overflow: hidden;
    background-color: white;
}

.winningScore {
    width: 200px;
    position: fixed;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 16px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(100, 100, 230);
    opacity: 95%;
}

#next {
    margin-top: 50px;
    margin-bottom: 15px;
    margin-left: 240px;
    font-size: 16px;
    color: white
}
