@import url('https://fonts.googleapis.com/css?family=Yomogi');

body {
    margin: 0px;
    font-family: 'Yomogi';
}
.admin {
    display: flex;
    justify-content: space-around;
    margin: 0px;
}

.adminHelp {
    background-color: rgb(119, 198, 224);
    opacity: 90%;
    padding: 16px;
}

body {
    background-image: url("../art/starry-pixels.webp");
    background-repeat: repeat;
}

h2 {
    background-color: rgb(119, 198, 224);
    margin: auto;
    width: 20%;
    border-radius: 16px;
    margin-top: 64px;
    padding: 32px;
    text-align: center;

}

.gameToSelect {
    background-color: rgb(119, 198, 224);
    position: relative;
    width: 256px;
    height: 256px;
    margin-top: 64px;
    margin-bottom: 64px;
    border-radius: 32px;
    text-align: center;
}

.topGameSelect, .bottomGameSelect {
    display: flex;
    justify-content: space-around;
}


input{
  border-radius: 16px;
  border: 0px;
  padding: 8px;
  margin: 8px;
  text-align: center;
}

.login, .register, button{
  cursor: pointer
}

.login, .register {
  width: 200px;
  border: 2px solid ;
  margin: 16px
}

p {
  font-size: 16px;
  padding-top: 16px;
  border-top: 2px solid;
}

h3 {
  border-bottom: 2px solid;
}

button {
  background-color: rgb(119, 198, 224);
  border: 0px;
  border-bottom: 2px solid;
  font-style: italic;
}

span {
  position: fixed;
  right: 8px;
  top: 8px;
  border-bottom: 2px solid;
  font-style: italic;
  cursor: pointer;
}